header.header
    .row
        .col
            img.header-logo(src="/images/logo.png" alt="Logo")
        .col
        ul.nav
            li.nav-item
                a.nav-link.active(href='/') Home
            li.nav-item
                a.nav-link(href='/animelists') Shows
            li.nav-item
                a.nav-link(href='/about/us') About us
            li.nav-item
                a.nav-link(href="/account") Account
            li.nav-item
                a.nav-link(href="/register") Register
         
            