*{
    box-sizing: border-box;
    margin: 0;
}

.container-fluid{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    min-height:100vh;
    color: white;
    margin: 0 auto;
    text-align: center;
    
}
h2,h3, p{
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 20px;
}

.nav-link {
    margin:30px;
    color: white;
    font-size: 20px;
    text-decoration: none;

}

.nav-link, a.hover{
    color: rgb(255, 255, 255);
}
.mdList, a{
    text-decoration: none;
    padding: 0 5px;
    color: white;
    font-size: 20px;
    list-style: none;
}
li{
    text-decoration: none;
    list-style: none;
}
body {
    padding-top: 3px;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    height: 100vh;
}
.container.login{
    display: flex;
    justify-content: center;
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-primary{
    background-color: white;
    color: black
}
.col-sm-5{
    display: flex;
    align-items: center;;
}
hr{
    background-color: #fff;
}
